# Needs to be always false
REACT_APP_ENABLE_HARDWARE_WALLETS=false
# If a value is present, the rewards feature is going to be enabled
REACT_APP_ENABLE_AIRDROP=true
REACT_APP_AIRDROP_API_URL=http://63.32.111.74:8092
REACT_APP_AIRDROP_ID=8
REACT_APP_ACCUMULATED_AIRDROP_IDS="1,2,3"
# Enables token swap feature
REACT_APP_ENABLE_TOKEN_SWAP=false
# Infura API Key
REACT_APP_INFURA_API_KEY=example
# Can be production or development
REACT_APP_ENV=development
# Env vars below should only be used when REACT_APP_ENV=development
REACT_APP_HERMEZ_API_URL=http://localhost:8086
REACT_APP_HERMEZ_CONTRACT_ADDRESS=0x10465b16615ae36F350268eb951d7B0187141D3B
REACT_APP_WITHDRAWAL_DELAYER_CONTRACT_ADDRESS=0x8EEaea23686c319133a7cC110b840d1591d9AeE0
REACT_APP_BATCH_EXPLORER_URL=http://localhost:8080
REACT_APP_ETHERSCAN_URL=https://etherscan.io
